* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navlogo {
  width: 80px;
  height: auto;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease, filter 0.3s ease;
}
#navlogo:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.8));
}

#navlogoli {
  display: flex;
  align-items: center;
}

#navigation {
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

nav {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: #7a24245a;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > ul > li, nav > div > p {
  margin: 0 15px;
  color: #b20505;
  font-family: Arial, sans-serif;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav > ul > li:hover, nav > div > p:hover {
  color: #da0606;
}
body, html {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#maintext {
  height: 100vh;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-weight: 400;
  font-size: 2em;
  color: #9f0f0f;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  font-size: 30px;
  color: #b31e1e;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply fade-in effect to various elements */
main > div, h2{
  animation: fadeIn 0.8s ease-out forwards;
}

/* Additional class for custom fade-in timing */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.enable {
  opacity: 1;
}

.disable {
  height: 0;
  display: none;
  opacity: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: #b20505;
  border-radius: 20px;
  background-color: #7a24245a;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}