* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navlogo {
  width: 80px;
  height: auto;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease, filter 0.3s ease;
}
#navlogo:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.8));
}

#navlogoli {
  display: flex;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #7a24245a;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > ul > li, nav > div > p {
  margin: 0 15px;
  color: #b20505;
  font-family: Arial, sans-serif;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav > ul > li:hover, nav > div > p:hover {
  color: #da0606;
}
body, html {
  height: 100%;
}

main {
  height: 100vh;
}
main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}